@page "/fetchdata"
@using ManagementSystem.Models
@inject HttpClient Http

<PageTitle>Mina Maskiner</PageTitle>

<h1>Mina Maskiner</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Maskin</th>
                <th>Status</th>
               
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Id</td>
                    <td>@forecast.MachineName</td>
                    @*<td>@forecast.Status</td>*@
                   
                </tr>
            }
        </tbody>
    </table>
}

@code {
  

}
